<header id="top">

    <div class="row">

        <div class="header-content twelve columns">

           <h1 id="logo-text"><a routerLink="/" title="">Blog-sphere</a></h1>
             <!--p id="intro">Put your heart out here...</p-->
             <hr>

         </div>			

    </div>

    <nav id="nav-wrap"> 

        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>

        <div class="row">    		            

                <ul id="nav" class="nav">
                   <li routerLinkActive="current"><a routerLink="/home" >Home</a></li>
                   <li routerLinkActive="current"><a routerLink="/categories" >Categories</a></li>
                   <!--li class="has-children"><a href="#">Dropdown</a>
                   <ul>
                      <li><a href="#">Submenu 01</a></li>
                      <li><a href="#">Submenu 02</a></li>
                      <li><a href="#">Submenu 03</a></li>
                   </ul>
                 </li-->	
                 <li *ngIf="isLoggedIn" routerLinkActive="current"><a routerLink="/create-blog">Create Blog</a></li>		      	
                 <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
                 <li *ngIf="isLoggedIn"><a routerLink="/logout">Logout</a></li>
                 <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
                 <li *ngIf="isLoggedIn">Welcome <b>{{name}}</b></li>
                </ul> <!-- end #nav -->			   	 
                <!--span *ngIf="sess">Welcome {{sess.username}}</span-->

        </div> 

    </nav> <!-- end #nav-wrap --> 	     

</header> <!-- Header End -->
<div id="content-wrap">

    <div class="row">
