<div id="main" class="eight columns">
    <article class="entry" *ngFor="let article of articles">
        <header class="entry-header">
            <h2 class="entry-title">
                <a routerLink="/article/{{article._id}}" title="111">{{article.title}}</a>
            </h2> 				 
            <div class="entry-meta">
                <ul>
                    <li>{{article.created | date:'medium'}}</li>
                    <span class="meta-sep">&bull;</span>								
                    <li><a href="#" title="" rel="category tag">{{article.category}}</a></li>
                    <span class="meta-sep">&bull;</span>
                    <li>{{article.created_by}}</li>
                </ul>
            </div> 
        </header> 
        <div class="entry-content" [innerHTML]="article.description | readMore: article._id">Read More</div> 
    </article>
</div>
<app-sidebar></app-sidebar>

        