<div class="container">
        <form #loginForm="ngForm">
            <div class="form-group row" style="padding-top:50px;">
                <label for="title" class="col-sm-2 col-lg-2 col xl-2 col-form-label">Username</label>
                <div class="col-sm-10 col-lg-10 col-xl-10">
                    <input type="text" name="username" id="username" class="col-sm-10 col-lg-10 col-xl-10 white-textbox"  [(ngModel)]="user.username" #username="ngModel" required>
                </div>
                <span class="alert alert-danger" [hidden]="username.valid || username.pristine">Username is required</span>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-2 col-lg-2 col xl-2 col-form-label">Password</label>
                <div class="col-sm-10 col-lg-10 col-xl-10">
                    <input type="password" name="password" id="password" class="col-sm-10 col-lg-10 col-xl-10 white-textbox" [(ngModel)]="user.password" #password="ngModel" required>
                </div>
                <span class="alert alert-danger" [hidden]="password.valid || password.pristine">Password is required</span>
            </div>
            <div class="form-group row" style="padding-top:50px;">
                <div class="col-sm-2 col-lg-2 col xl-2 col-form-label">&nbsp;</div>
                <div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>